aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.scan
depcomp
.deps/
INSTALL
install-sh
.kdev4/
*.kdev4
*.la
libtool
*.log
ltmain.sh
Makefile
Makefile.in
missing
*.o
rational-*.tar.xz
src/test/test_rational
stamp-h1
test-driver
*.trs
clang/
debug/
release/
.kdev*
core*
*~
callgrind.out.*
